{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<section class="home-scroll">
    <div class="stripe">
        <img src="{{ asset('build/images/white_logo.png') }}" alt="">
    </div>
    <h2>Click to join Stan dottori's world</h2>
        <a href="#biography"><img src="{{ asset('build/images/white_arrow.png')}}"></a>
    </section>
    {% include 'home/_navbar.html.twig' %}
    <section id="biography">
        <h1>Stan Dottori superstar tattoo Artist</h1>

        <p id="first-part">Lorem ipsum dolor sit amet. Vel nihil reiciendis ad recusandae suscipit qui quas aliquid qui inventore nobis hic dicta tenetur. Non laborum omnis et commodi accusamus sit dolor sequi. Aut nostrum nostrum id tenetur quos qui quaerat eveniet cum illum culpa. Ad modi nostrum id obcaecati galisum qui maiores aperiam ut voluptates aliquam et praesentium expedita ad maxime assumenda aut delectus minus.
        </p>
        <img id="primary" src="{{ asset('build/images/tattoo_ex5.jpg') }}" alt="">
        <p id="second-part">Qui saepe voluptate et animi atque et error temporibus quo quae velit nam nostrum internos et possimus sunt. Ut quasi rerum eos voluptas vero qui quasi necessitatibus nam dignissimos tempore qui dolorum cupiditate hic consequuntur esse non natus pariatur. Et asperiores nihil id nemo tenetur vel obcaecati repudiandae rem dignissimos numquam a explicabo tenetur sit galisum culpa. Sed labore pariatur et voluptas soluta sit facilis blanditiis.
        </p>
        <p id="third-part">Qui saepe voluptate et animi atque et error temporibus quo quae velit nam nostrum internos et possimus sunt. Ut quasi rerum eos voluptas vero qui quasi necessitatibus nam dignissimos tempore qui dolorum cupiditate hic consequuntur esse non natus pariatur. Et asperiores nihil id nemo tenetur vel obcaecati repudiandae rem dignissimos numquam a explicabo tenetur sit galisum culpa. Sed labore pariatur et voluptas soluta sit facilis blanditiis.
        </p>
        <img id="secondary" src="{{ asset('build/images/tattoo_ex5.jpg') }}" alt="">
    </section>
{% endblock %}
