{% extends 'base.html.twig' %}

{% block title %}Biography
{% endblock %}
{% block body_class %}page-specific-style
{% endblock %}
{% block body %}
	{% include 'home/_navbar.html.twig' %}
	<section id="biography">
		<h1 class="neonText" id="biography-title">Biography</h1>
		<div class="biography-content">
			<img src="{{ asset('build/images/StanD2.jpg') }}" alt="" class="biography-image">
			<p id="first-part">
				Stan Dottori est un nom bien établi dans le monde fascinant du tatouage.
                 Commencé en 2006, son voyage artistique est celui d'un autodidacte passionné
                 qui a su allier son expertise de graphiste à l'art délicat du tatouage. Avant de
                 devenir tatoueur, Stan a perfectionné ses compétences en design graphique,
                 une fondation qui enrichit aujourd'hui chaque œuvre d'encre qu'il crée. En 2008,
                 il franchit une étape majeure en ouvrant "Hell Yeah", sa première boutique de
                 tatouage à Lyon, marquant ainsi le début d'une aventure artistique sans précédent.
                Cette boutique devient rapidement le reflet de son engagement envers l'art du
                tatouage, proposant des créations uniques qui attirent une clientèle variée. Stan
                ne se contente pas de rester dans les limites de sa ville natale; son esprit
                aventureux le mène à parcourir la France et l'Europe, avec des séjours marquants
                en Suède et en Norvège, ainsi qu'aux États-Unis, notamment à Los Angeles.
                Ces voyages ne sont pas seulement des opportunités de partager son art mais
                aussi d'apprendre et d'absorber les influences culturelles diverses, enrichissant
                ainsi son style et son approche du tatouage.</p>
			<img src="{{ asset('build/images/inkSd.jpg') }}" alt="" class="biography-image-second">
			<p>En 2019, l'ambition et la vision artistique de Stan donnent naissance à une
            seconde boutique, le Bad Girls Club Ink, un espace dédié à l'exploration de
            nouvelles avenues créatives dans l'art du tatouage. Cette expansion reflète sa
            volonté constante de pousser les limites de son art et d'offrir à ses clients des
            expériences toujours plus personnalisées et innovantes. En 2022, Stan prend la
            décision audacieuse de fusionner ses deux espaces sous une seule enseigne, le
            Hell Yeah Tattoo Club, situé au 38 rue Henri Gorjus, 69004 Lyon. Ce regroupement
            n'est pas seulement logistique; il symbolise l'unification de ses passions, de ses
            expériences et de son engagement envers l'art du tatouage. Le Hell Yeah Tattoo Club
            devient ainsi un point de ralliement pour les amateurs d'art corporel, un lieu où la
            créativité de Stan et de son équipe peut s'exprimer pleinement. La boutique est le
            théâtre de la rencontre entre tradition et innovation, où chaque tatouage est une
            œuvre d'art personnalisée, conçue avec soin et dévouement. L'histoire de Stan Dottori
            est celle d'un artiste qui a su traverser les frontières et les cultures pour forger une
            réputation incontestable dans le monde du tatouage. De graphiste à maître tatoueur,
            son parcours est une source d'inspiration, prouvant que passion, détermination et
            créativité peuvent mener à une reconnaissance mondiale. Le Hell Yeah Tattoo Club est
            plus qu'une boutique; c'est un lieu de vie où l'art du tatouage est célébré dans toute
            sa diversité et sa beauté.
			</p>
		</div>
	</section>
{% endblock %}
