
$dark-color: #171617;
$light: #F3EAE8;
@import "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    margin:0;
    background-color: $dark-color;
    background-image: url("../images/testeu.png");
    color: $light;
    height: 100vh;
}

.stripe {

    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 50%;
        max-width: 100%;
        height: auto;
    }
}


.home-scroll {
    height: 100vh;
}

.home-scroll>h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#biography {
    height: 90vh;
}


.home-scroll>a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    left: 50%;
    transform: translateX(-50%);
    scroll-behavior: smooth;
    img {
        width: 10%;
        height: auto;

    }
}

#biography {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
    grid-auto-rows: minmax(12.5rem, auto);
}

#biography>h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.25rem;
    grid-column: 1/5;
    grid-row: 1;
}

#biography>#primary {
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: auto;
    grid-column: 1;
    grid-row: 2/5;
    background: rgba( 74, 74, 74, 0.35 );
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#biography>#secondary {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    width: 10rem;
    height: auto;
    margin-left: auto;
    margin-right: 5%;
    background: rgba( 74, 74, 74, 0.35 );
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#biography>#first-part {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1rem;
    grid-column: 2/5;
    grid-row: 2;
}

#biography>#second-part {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1rem;
    grid-column: 1/5;
    grid-row: 3;
}

#biography>#third-part {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1rem;
    grid-column: 1/3;
    grid-row: 4;
}

.bg-light {
    --bs-bg-opacity: 1;
background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important;
}

[data-theme="light"] {
    background-color: $light;
    background-image: url("../images/testeu_blanc.png");
    color: $dark-color;
    #tattoo {
        margin-left: 15%;
        margin-right: 15%;
        background: rgba( 74, 74, 74, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 3.5px );
        -webkit-backdrop-filter: blur( 3.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        width: 16rem;
        height: auto;
    }
    #show-tattoo {
        margin-left: 15%;
        margin-right: 15%;
        background: rgba( 74, 74, 74, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 3.5px );
        -webkit-backdrop-filter: blur( 3.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        width: 16rem;
        height: auto;
    }
    .bg-light {
        --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    }
    #biography>#primary {
        margin-left: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10rem;
        height: auto;
        grid-column: 1;
        grid-row: 2/5;
        background: rgba( 74, 74, 74, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 3.5px );
        -webkit-backdrop-filter: blur( 3.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    
    #biography>#secondary {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        width: 10rem;
        height: auto;
        margin-left: auto;
        margin-right: 5%;
        background: rgba( 74, 74, 74, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 3.5px );
        -webkit-backdrop-filter: blur( 3.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    
}

[data-theme='light'] a,
[data-theme="light"] .btn {
    background-color: $light;
    color: $dark-color;
    /* ... autres styles ... */
}

#tattoo {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2rem;
    background: rgba( 74, 74, 74, 0.35 );
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 16rem;
    height: auto;
}

#show-tattoo {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2rem;
    background: rgba( 74, 74, 74, 0.35 );
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 16rem;
    height: auto;
}


button.btn {
    background-color: #F3EAE8;
    width: 4rem;
}

form {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border: 2px;
}

fieldset>a {
    display: flex;
    flex-direction: row-reverse;
}


h1 {
    display: flex;
    align-content: space-around;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 436px) {
    #biography {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2%;
        grid-auto-rows: minmax(12rem, auto);
    }
    
    #biography>h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.25rem;
        grid-column: 1/5;
        grid-row: 1;
    }
    
    #biography>#primary {
        margin-left: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10rem;
        height: auto;
        grid-column: 1;
        grid-row: 2/5;
    }
    
    #biography>#secondary {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        width: 10rem;
        height: auto;
        margin-left: auto;
        margin-right: 5%;
    }
    
    #biography>#first-part {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 0.75rem;
        grid-column: 2/5;
        grid-row: 2;
    }
    
    #biography>#second-part {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 0.75rem;
        grid-column: 1/5;
        grid-row: 3;
    }
    
    #biography>#third-part {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 0.75rem;
        grid-column: 1/3;
        grid-row: 4;
    }
}





