<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nouvel planche de Flash disponible</title>
</head>
<body>
    <h1>Nouvel planche de Flash dispo {{ flash.id }}</h1>
    <p>Hello, de nouveaux flashes sont dispo ! Vous pouvez consulter les dernières nouveautés en avant première sur le site</p>

</body>
</html>
